.box{
    width: 100px;
    height: 100px;
    background-color: darkblue;
    animation-name: minhaAnimacao;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    /* animation-delay: ; */

}

@keyframes minhaAnimacao{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(100%);
    }
}