body{
    background-color: #F8F7F0;
}

.div{
    display: inline-block;
    margin-top: 100px;
    margin-left: 150px;
    background-color: #c6e5b1;
    padding: 50px;
    border-radius: 30px;
    border: solid 2px;
    border-color: gray;
}

.input{
    border-radius: 30px;
    background-color: #F9f3ee;
    border-color: gray;
    float: right;

}

.label{
    float: left;
}

.senha{
    margin-top: 7px;
}

.submitt{

}