.scale-box{
    width: 100px;
    height: 100px;
    background-color: darkblue;
    transition: transform 0.5s ease-out;
}

.scale-box{
    transform: scale(0.5);
    transform: scale(1,5);
}