.fonte{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 50px;
}

.email{
    border-radius: 25px;
    border-color: gray;
    margin-left: 30px;
}

.email:hover{
    background-color: #FEECC8 ;
}

body{
    background-color: #F8F7F0;
}

.botao{
    margin-top: 15px;
    background-color: #CDC9C3;
    width: 100px;
    border-radius: 15px;
    margin-left: 60px;
}